body{
	margin: 0;
	padding: 0;
	font-family: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: lighter;
	background-color: #eee;
	-webkit-font-smoothing: subpixel-antialiased;
 	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

li{text-decoration: none;list-style-type: none;}
a{text-decoration: none;color: #323232;}
h1{font-size:20px; margin: 20px 0px;}
.mobile-image-bg{display: none;}
#map-canvas{width:100%;height:600px;}

.loading{
	z-index: 99999;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #eee;

	opacity: 0;
	pointer-events: none;

	-webkit-transform: scale(1.15);
	transform: scale(1.15);

	-webkit-transition:
		-webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

	transition:
		transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

	will-change: transform, opacity;
}

.loading-animation{
	display: inline-block;
	border-width: 30px;
	border-radius: 50%;
	-webkit-animation: spin 1s ease infinite;
	-moz-animation: spin 1s ease infinite;
	-ms-animation: spin 1s ease infinite;
	-o-animation: spin 1s ease infinite;
	-webkit-animation: spin 1s ease infinite;

	border-style: double;
	border-color: #709994 #eee #eee;
	margin-bottom: 20px;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% { -o-transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }

.visible{
	pointer-events: auto;
	opacity: 1;	
}

#loading-wrapper{
	position: absolute;
	top: 45%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 190px;
	height: auto;
	text-align: center;
}

/* BUTTON */
.image-button{
	z-index: 9;
	position: absolute;
	bottom: 100px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 100%;
	background-color: transparent;
	border: 2px solid #709994;
	color: #eee;
	opacity: .9;
}

.image-button i{
	position: absolute;
	top: 20%;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	font-size: 50px;
}
.image-button span{
	display: inline-block;
	position: absolute;
	bottom: 25%;
	right: 0px;
	left: 0px;
	margin: 0 auto;
}
.circle-image-button{
	position: absolute;
	bottom: 107px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	width: 140px;
	height: 140px;
	text-align: center;
	border-radius: 100%;
	color: #eee;
	opacity: .9;
	-webkit-transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
	-o-transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
	transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
}

.image-button:hover + .circle-image-button{
	opacity: 0.8;
}

#wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	padding-right: 50px;
	box-sizing: border-box;
}

#inner-wrapper{
	width: 100%;
}

/* OPEN MENU */
.toggle-menu{
	z-index: 99999;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	background-color: #709994;
	color: #fff;

	-webkit-transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
	-0-transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
	transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
}

.toggle-menu:focus,
.toggle-menu:active{
	-webkit-box-shadow:inset 0 6px 12px 10px #698F8A;
	box-shadow:inset 0 6px 12px 10px #698F8A;
}

.open-menu{
	height: 50px;
	border-radius: 100%;
	top: 20px;
	right: 75px;
	line-height: 50px;

	-webkit-transition: height .3s cubic-bezier(.74,.19,.69,.85)
		,border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: height .3s cubic-bezier(.74,.19,.69,.85)
		,border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: height .3s cubic-bezier(.74,.19,.69,.85)
		,border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
	-0-transition: height .3s cubic-bezier(.74,.19,.69,.85)
		,border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
	transition: height .3s cubic-bezier(.74,.19,.69,.85)
		,border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
}

/* HEADER */
.menu{
	z-index: 999;
	position: fixed;
	top: 0px;
	right: -200px;

	width: 250px;
	height: 100%;
	background-color: #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	-webkit-transition: right .3s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: right .3s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: right .3s cubic-bezier(.74,.19,.69,.85);
	-o-transition: right .3s cubic-bezier(.74,.19,.69,.85);
	transition: right .3s cubic-bezier(.74,.19,.69,.85);
}

.blue-side{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 50px;
	height: 100%;

	background-color: #DDBF8E;

	-webkit-transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
	-o-transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
	transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
}

.filled-blue{
	background-color: #709994;
}

.menu-visible{
	right: 0px;
}

.menu ul{
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	padding-top: 90px;
}

.menu ul li{
	position: relative;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}


.menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 17px;
	display: flex;
}

.menu ul li a:hover > .menu-text{color: #709994;}
.menu ul li a:hover > .menu-icons{color: #eee;background-color: #709994;}

.menu ul li a:active,
.menu ul li a:focus{
} 

.menu .menu-icons{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #DDBF8E;
	color: #323232;
	font-size: 20px;

	-webkit-transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
	-o-transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
	transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
}

.menu .menu-icons:hover{	
	background-color: #709994;
}

.menu .menu-text{
	width: 200px;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	-webkit-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-o-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	transition: color .2s cubic-bezier(.74,.19,.69,.85);
}
.menu .no-border{border-color: #eee;}

.menu ul li .already-scrolled{
	background-color: #709994;
}

.show-socials{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
}

.show-socials .menu-icons{
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.show-socials .menu-icons:hover{
	color: #eee;
}

.arrow-left{
	width: 0px;
	height: 0px;
	content: '';
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid #709994;
	position: absolute;
	right: -13px;
	top: 17px;
}

.header-social{
	display: none;
	z-index: -999;
	position: absolute;
	top: 0px;
	left: 10px;
	width: 120px;
	height: 50px;
	background-color: #eee;
	border-radius: 3px;
	border-right: 4px solid #709994;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transform: translate(0, 0);
    transition: transform .3s cubic-bezier(.74,.19,.69,.85);
}

.header-social .header-social-icons{
	display: inline-block;
	width: 30px;
	height: 50px;
	-webkit-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	-o-transition: color .2s cubic-bezier(.74,.19,.69,.85);
	transition: color .2s cubic-bezier(.74,.19,.69,.85);
}

.header-social .header-social-icons:hover{
	color: #709994;
}

.social-visible{
	display: block;
	transform: translate(-150px, 0);
}

.show-socials .fill-social{
	background-color: #709994;
}

.show-socials .focus-social{
	background-color: #709994;
}

/* CONTENT */
.section{
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
}

.big-content{
	position: relative;
	width: 66.666666%;
	height: 100%;

	background-color: transparent;
	overflow: hidden;

	background-position: center center;
	background-repeat: no-repeat;
}

.small-content{
	position: relative;
	width: 33.333333%;
	height: 100%;
	background-color: #eee;
	color: #323232;
}

.content-right .inner-content{text-align: left;}

.content-left .inner-content{text-align: right;}

#slide1 .big-content{
	position: relative;
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/fullBus1920x800.jpg");
}

#slide1 .contact{	
	color: #eee;
	border-color: #709994;
}

#slide1 .circle-contact{background-color: #709994;}

#slide2 .big-content{
	border-bottom-left-radius: 3px;
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/insideCar1920x800.jpg");
}

.infos{
	width: 100%;
	height: 80px;
}

#slide6 .infos{height: 120px;}

.info-headline{
	width: auto;
	height: 80px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	margin-right: 7px;
	line-height: 40px;
}
.info-headline h4{margin: 0px;}
.info-text{
	width: auto;
	height: 80px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	line-height: 40px;
}
.info-text p{margin: 0px;}

#slide2 .location{
	color: #323232;
	border-color: #eee;
}

#slide2 .circle-location{background-color: #eee;}

#education{background-color: #eee;}
#wrapper-education{width: 100%;height: 100%;position: relative;}
#education-content{
	position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 100%;
	height: 300px;
	display: flex;
}

.education-single{
	position: relative;
	width: 33.333333%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-right: 2px solid #ddd;
}

.single-education-content{
	position: absolute;
	display: block;
	height: 200px;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.single-education-content h1{
	margin-top: 0px;
	padding-top: 0px;
}

.education-single:last-child{
	border-right: 0;
}

#slide3 .big-content{
	border-top-right-radius: 3px;
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/freewayFromAbove1920x800.jpg");
}
#slide4{height: auto;}
#slide4 .big-content{
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/mountainStreet1920x800.jpg");
}

.map-switch-wrapper{
	position: absolute;
	bottom: 100px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	background-color: transparent;
}

.map-switcher{
	float: left;
	width: 145px;
	height: 50px;
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;

	-webkit-transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
	-o-transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
	transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
}

.map-switcher:active,.map-switcher:hover,.map-switcher:focus{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

.map-switcher:first-child{margin-right: 10px;}

.map-switcher .map-switcher-icon{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #eee;
	color: #323232;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	-webkit-transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
	-moz-transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
	-ms-transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
	-o-transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
	transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
}

.active .map-switcher-icon{background-color: #709994;}

.map-switcher .map-switcher-text{
	width: 95px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.map-touch{
	display: none;
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	opacity: .3;
}

.block-map{
	display: block;
}

#slide6 .big-content{
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/emptyBus1920x800.jpg");
}

.inner-content{
	width: 60%;
	min-height: 100px;
	overflow: hidden;
	margin: 0 auto;
 	position: relative;
	top: 45%;
	transform: translateY(-50%);
	text-align: center;
}

.h1-colored{
	color: #709994;
	font-size: 40px;
}

.owl-controls{
	position: absolute;
	bottom: 5px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}

.owl-pagination .owl-page span{
	background: #fff;
}

footer{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #323232;
	color: #eee;
	font-weight: lighter;
	box-sizing: border-box;
}

footer h1{margin: 0px;display: inline-block;}

#footer-wrapper{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	padding: 70px 0px;
}

#footer-logo{
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-bottom: 50px;
	color: #DDBF8E;
}

#footer-logo .logo{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	background-color: #DDBF8E;
	color: #323232;
	float: left;
	margin-top: 20px;
	margin-right: 3%;
}

#footer-contact{
	width: 100%;
	height: 70px;
	display: flex;
	margin-bottom: 50px;
}

#footer-contact p, #footer-contact a{
	margin: 0;
	padding: 0;
	width: 150px;
	height: 35px;
	line-height: 35px;
	display: block;
	color: #eee;
}

#contact-cont, #social-cont{
	width: 50%;
	height: 100%;
}

#social-cont #social-media{
	width: 100%;
	height: 35px;
}

#social-cont #social-media .social-btn{
	display: inline-block;
	width: 35px;
	height: 35px;

	-webkit-transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	-moz-transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	-ms-transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	-o-transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

#social-cont #social-media .social-btn:hover{
	color: #709994;
}


#mention{
	font-size: 11px;
}


.inner-content .logo{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	background-color: #DDBF8E;
	color: #323232;
}

.fade-in-content{opacity: 0;}