*{margin:0;padding:0;}

body{
	margin: 0;
	padding: 0;
	font-family: 'rbno2_light_alternative_Rg' ,Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color: #efefef;
}

a{text-decoration: none;color: #323232;}
li, ul, ol{list-style-type: none;}
input:focus { outline: none; }
button{outline: none;border:none;}


/* HEADER */

header{
	width: 100%;
	height: 60px;
	background-color: #588C7E;
}

#inner-header{
	width: 70%;
	min-width: 740px;
	height: 100%;
	margin: 0px auto;
}

header ul{
	width: 360px;
	display: inline-block;
}

header ul li{
	height: 55px;
	background-color: transparent;
	display: inline-block;
	line-height: 60px;
	padding: 0px 5px;
}

header ul a{
	display: block;
	width: 100%;
	height: 100%;
	text-transform: uppercase;

	-0-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

header ul a:hover{
	opacity: 0.5;
}

/* LOGO */
header #logo{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #323232;
	float: left;
	margin-top: 5px;
	margin-right: 15%;
}

/* On current page */
.current{color: #323232;display: block; opacity: 0.8;}

/* REGISTER BUTTONS */
#user-interface{
	width: 250px;
	height: 30px;
	float: right;
	margin-top: 15px;
	display: inline-block;
}

/* Login button on front page */
#loginBtn{
	z-index: 9;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	background-color: #efefef;
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

/* Sign up button on front page */
#signupBtn{
	z-index: 9;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	background-color: #FF6347;
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

/* Log out button on front page */
#logoutBtn{
	z-index: 9;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	background-color: transparent;
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

/* animations on front page buttons */
#signupBtn:hover{
	background-color: #F76044;
}

#signupBtn:active, .paypal button:active{
	-webkit-box-shadow: inset 0px 3px 2px 0px #D6533C;
	-moz-box-shadow: inset 0px 3px 2px 0px #D6533C;
	box-shadow: inset 0px 3px 2px 0px #D6533C;
}

/* SOCIAL MEDIA BUTTONS */
#media{
	width: 195px;
	height: 60px;
	float: right;
}

.mediaBtn{
	border: none;
	height: 40px;
	width: 40px;
	background-color: transparent;
	color: #323232;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-right: 5px;
	margin-top: 10px;

	-o-transition:color .2s, background .2s, transfrom .5s;
	-ms-transition:color .2s, background .2s, transfrom .5s;
	-moz-transition:color .2s, background .2s, transfrom .5s;
	-webkit-transition:color .2s, background .2s, transfrom .5s;
	transition:color .2s, background .2s, transfrom .5s;
}

/*
#facebook:hover i{
	background-image: url('../imgs/mediahover.png');
	background-position: 0px 0px;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
*/

#facebook:hover{color: #3B5999;}
#facebook:active {-webkit-box-shadow:inset 0 1px 1px 1px #37538F;box-shadow:inset 0 1px 1px 1px #37538F;}
#google:hover{color: #C34242;}
#google:active {-webkit-box-shadow:inset 0 1px 1px 1px #B03C3C;box-shadow:inset 0 1px 1px 1px #B03C3C;}
#twitter:hover{color: #5FA8E9;}
#twitter:active {-webkit-box-shadow:inset 0 1px 1px 1px #5495CF;box-shadow:inset 0 1px 1px 1px #5495CF;}
#instagram:hover{color: #3F92A0;font-size: 22px;}
#instagram:active {-webkit-box-shadow:inset 0 1px 1px 1px #3A8794;box-shadow:inset 0 1px 1px 1px #3A8794;}


#color-palette{
	width: 100%;
	height: 10px;
	background-color: #44889F;
}

/* END HEADER */

/* FRONT VIEW */

#front-view{
	width: 100%;
	height: 400px;
	position: relative;
}

/* GIF */
#front-animation{
	display: block;
	width: 100%;
	height: 400px;
	text-align: center;
}

#slides {
  display:none;
  z-index: 999999;
}

#front-animation a{
	display: inline-block;
	height: auto;
	margin: 0 auto;
}

#front-animation img{
	display: block;
	height: 400px;
	width: auto;
}

/* Searchbar */
#front-view .search-container{
	z-index: 1000;
	width: 350px;
}

#front-view .search-container{	
	position: absolute;
	top: 20px;
	right: 20px;
}

.searchbox{
	height: 40px;
	width: 100%;
}

.searchbox-input{
	position: absolute;
	border-radius: 3px;
	top: 0;
	right: 40px;
	border: 0;
	outline: none;
	background: #fefefe;
	color: #323232;
	width: 70%;
	height: 40px;
	margin: 0;
	padding-left: 20px;
	font-size: 17px;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.searchbox-input:focus{outline-style:none;box-shadow:none;border-color:transparent;}

.searchbox-input::-webkit-input-placeholder{
	color: #808080;
}
.searchbox-input:-moz-placeholder{
	color: #808080;
}
.searchbox-input::-moz-placeholder{
	color: #808080;
}
.searchbox-input:-ms-input-placeholder{
	color: #808080;
}

.searchbox-icon, .searchbox-submit{
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: #313132;
	font-size: 20px;
	background-color: #efefef;
	opacity: .3;
}
.searchbox-icon:hover, .searchbox-submit:hover{
	opacity: .7;
}


.searchbox{
	position: relative;
	min-width: 40px;
	width: 0%;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.1s;
	-moz-transition: width 0.1s;
	-ms-transition: width 0.1s;
	-0-transition: width 0.1s;
	transition: width 0.1s;
}

.searchbox-open{
	width: 100%;
}



/* REGISTER AD */
#register-ad{
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: transparent; /* PARALAX SCROLLING */
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#close-register-ad{
	position: absolute;
	top: 4px;
	right: 7px;
	color: #323232;
	opacity: .5;
	cursor: pointer;
	font-size: 15px;
}

#register-ad p{
	display: inline-block;
	color: #323232;
}

#close-register-ad:hover{
	opacity: .8;
}

#register-ad #ad-text{
	width: 70%;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}

#register-ad a{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	background-color: #FF6347;
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
}




/* CONTENT */
#wrapper{
	width: 70%;
	min-width: 740px;
	margin: 0px auto;
	overflow: hidden;
	background-color: #efefef;
}

/* FILTER */
#filter{
	z-index: 99999;
	width: 90%;
	height: 50px;
	line-height: 50px;
	padding: 0px 5%;
	padding-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
}

#filter a{
	display: inline-block;
	color: #44889F;
	margin-right: 20px;
}

#filter a:first-child{
	margin-right: 25px;
}

#filter #dropdown{
	height: 30px;
	width: 100px;
	display: inline-block;
	position: relative;
}

#filter #dropdown li{
	height: 30px;
	width: 100%;
	line-height: 30px;
}

#filter #dropdown li:hover{
	background-color: #ddd;
}

#filter #dropdown li a{

	padding-left: 5px;
}

#filter #dropdown:hover{
	background-color: #efefef;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#filter #dropdown:hover > ul{
	display: block;
}

#filter #dropdown li span{
	margin-right: 5px;
}

#filter #dropdown ul{
	display: none;
	position: absolute;
	top: 100%;
	height: 30px;
	width: 100%;
	z-index: 999;
	border-radius: 3px;
}

#filter #dropdown ul li{
	height: 30px;
	width: 100%;
	line-height: 30px;
	background-color: #efefef;
	line-height: 30px;
}

#filter #dropdown ul li:hover{
	background-color: #ddd;
}

#filter #dropdown ul li:last-child{border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}

#filter #dropdown ul li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 5px;
}










/* IMAGE CONTAINER MASONRY */
#image-container{
	margin-bottom: 30px;
}

/* Item container */
.item{
	position: relative;
	width: 24%;
	height: auto;
	margin-bottom: 10px;
	background-color: transparent;
	overflow: hidden;
	border-radius: 3px;
}


/* image */
.item img{
	width: 100%;
	height: auto;
	border-radius: 3px;
	cursor: pointer;
	display: block;

	moz-transition: opacity .3s;
	webkit-transition: opacity .3s;
	ms-transition: opacity .3s;
	o-transition: opacity .3s;
	transition: opacity .3s;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item img a{
	display: block;
	width: 100%;
	height: auto;
}

.item img:hover{
	opacity: 0.5;
}

.item .image a:hover+.open-close-details{
	display: block;
}

.image{
	width: 100%;
	position: relative;
}

/* Open and close image-details */
.open-close-details{
	display: none;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	background-color: transparent;
	color: #323232;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	moz-transition: all .3s;
	webkit-transition: all .3s;
	ms-transition: all .3s;
	o-transition: all .3s;
	transition: all .3s;
}

.open-close-details:hover{
	background: rgba(255,255,255,.6);
	display: block;
}



/* Details */
.image-details{
	position: relative;
	display: none;
	width: 92%;
	height: auto;
	padding: 10px 4%;
}

.image-details:hover{
}

/* Close description fa */
.close-description{
	position: absolute;
	top: 5px;
	right: 9px;
	cursor: pointer;
	background-color: transparent;
	opacity: .5;
	font-size: 14px;
}

.close-description:hover{
	opacity: 1;
}

#image-container h1{
	margin: 0;
}

/* Title */
.image-details .image-title{
	font-size: 15px;
}

.image-details span{
	font-size: 13px;
	display: inline-block;
}

.image-details .image-artist h1{
	font-size: 13px;
	display: inline-block;
}

.image-details .image-artist{
	margin-bottom: 10px;
}

/* description */
.image-details .description{
	font-size: 14px;
}


/* Bottom part of the item container */
.image-socials{
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
	background-color: #efefef;
	color: #323232;
}

.image-socials a{
	display: block;
	width: 25%;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	opacity: .6;
}

.image-socials a:last-child{border: none;width: 25%;}

.image-socials a:hover{
	background-color: #ddd;
	opacity: 1;
}

.image-socials span{
	margin-left: 5px;
}


/* NEXT/ PREVIOUS PAGE */
.prev-next-pageBtn{
	width: 100%;
	height: 40px;
	text-align: center;
	margin-bottom: 20px;
}

#next-page, #previous-page{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: transparent;
	color: #323232;
	text-align: center;
	line-height: 40px;
	opacity: .8;
	font-size: 20px;

	webkit-transition: all .2s;
	moz-transition: all .2s;
	ms-transition: all .2s;
	o-transition: all .2s;
	transition: all .2s;
}

#previous-page{
	margin-right: 10px;
}

#next-page:hover, #previous-page:hover{
	opacity: .5;
}







/* BACK TO TOP BTN */
#top{
	z-index: 9999;
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: #323232;
	color: #FF6347;
	width: 50px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	padding-bottom: 2px;
	border-radius: 100px;
	cursor: pointer;
}

#top:hover{background-color: #222;}
















/* LOG IN */
#login{
	z-index: 9999;
	position: absolute;
	top: -300px;
	right: 50px;
	width: 280px;
	background-color: #efefef;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding-bottom: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Log in field */
#login #tabs{
	width: 100%;
	height: 30px;
	overflow: hidden;
	margin-bottom: 10px;
}

#login #tabs div{
	display: inline-block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

#login #tabs span{
	color: #bbb;
}

#login #signupField{
	display: none;
}

.log-active{
	color: #FF6347;
}

/* Close X */
#login .close{
	float:right;
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

#login .close i{
	cursor: pointer;
	opacity: .5;
}

#login .close i:hover{
	opacity: .9;
}

/* Inputs */
#login input{
	height: 28px;
	width: 200px;
	margin: 0 auto;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0px 10px;
	border: 1px solid #ddd;
	border-left: none;
	margin-bottom: 10px;
	background-color: #fefefe;
	font-size: 13px;
}

#login input:hover{
	border-color: #aaa;
}
#login input:focus{
	border-color: #888;
}

/* Boxes on inputs */
.icon-box{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #FF6347;
	display: inline-block;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 13px;
}

/* Buttons on login field */
#login button{
	width: 251px;
	height: 31px;
	background-color: #FF6347;
	border-radius: 4px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
	z-index: 0;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#login button:hover{
	background-color: #F76044;
}

#login button:active{
	-webkit-box-shadow:inset 0 2px 3px 2px #D6533C;
	box-shadow:inset 0 2px 3px 2px #D6533C;
}

/* No account yet */
#login a{
	font-size: 12px;
	color: #323232;
	display: block;
}

#login a:hover{
	text-decoration: underline;
}












#advertisement{
	width: 100%;
	height: 200px;
	background-color: transparent;
	margin-bottom: 40px;
}

#ad-wrap{
	margin: 0 auto;
	width: 74%;
	height: 200px;
	background-color: transparent;
}

.ad{
	width: 43%;
	height: 200px;
	border-radius: 3px;
	background-color: #567567;
	color: #323232;
	float: left;
	font-size: 30px;
	font-weight: bold;
	line-height: 200px;
	text-align: center;
}

.ad:first-child{
	margin-right: 14%;
}



/* FOOOTER */

footer{
	width: 100%;
	height: 250px;
	background-color: #efefef;
	border-top: 1px solid #ccc;
}











/* ATISTS CSS PAGE */
#headline{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 40px 0px;
	position: relative;
}

#headline h1{
	font-size: 25px;
	margin: 0;
	margin-left: 20px;
}

/* Searchbar */
#searchFilter{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #efefef;
	margin-bottom: 20px;
}

#searchFilter .search-container{	
	z-index: 1000;
	width: 350px;
}

#searchFilter .search-container{
	position: absolute;
	top: 0px;
	right: 0px;
}

#searchFilter .filterDiv{
	width: auto;
	height: 40px;
	float: left;
	margin-left: 20px;
}


/* Radio style */
#searchFilter .filterDiv input[type="radio"],
#searchFilter .filterDiv input[type="checkbox"]{
	display: none;
}

#searchFilter .filterDiv input[type="radio"] + label,
#searchFilter .filterDiv input[type="checkbox"] + label{
	width: 100%;
	height: 100%;
	color: #323232;
	font-size: 14px;
	cursor: pointer;
}

#searchFilter .filterDiv input[type="radio"] + label span,
#searchFilter .filterDiv input[type="checkbox"] + label span{
	display: inline-block;
	width: 9px;
	height: 9px;
    margin: -3px 4px 0 0;
	vertical-align: middle;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid #ccc;
}

#searchFilter .filterDiv input[type="radio"]:checked + label span,
#searchFilter .filterDiv input[type="checkbox"]:checked + label span{
	background-color: #44889F;
	border: none;
	width: 15px;
	height: 15px;
}

#searchFilter .filterDiv input[type="radio"] + label span,
#searchFilter .filterDiv input[type="radio"]:checked + label span,
#searchFilter .filterDiv input[type="checkbox"] + label span,
#searchFilter .filterDiv input[type="checkbox"]:checked + label span{
	-webkit-transition: background-color .5s;
	-o-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;
}


/* ARTIST LIST */
#artistList{
	width: 100%;
	height: auto;
	display: inline-block;
}

#artistList ul{
	width: 100%;
	height: auto;
}

#artistList li{
	width: 100%;
	height: 110px;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
}

#artistList li:first-child{border: none;}
#artistList li:last-child{margin-bottom: 40px;}

#artistList .portrait{
	display: block;
	float: left;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    margin: 10px;
    margin-top: 20px;
}

#artistList .portrait a{
	display: block;
	width: 100%;
	height: 100%;
}

#artistList .artistDetails{
	float: left;	
	height: 90;
	width: 250px;
	margin-left: 20px;
	margin-top: 10px;
}

#artistList .artistDetails h1{
	margin: 0;
	font-size: 18px;
	display: block;
	margin-top: 10px;
}

#artistList .artistDetails span, 
#artistList .artistDetails i{
	font-size: 15px;
}

#artistList .exampleArt{
	width: 370px;
	height: 100%;
	float: left;
	margin-top: 10px;
	display: flex;
}

#artistList .exampleArt .exampleImages{
	width: 120px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 0;
	margin-right: 5px;

	webket-transition: opacity .3s;
	ms-transition: opacity .3s;
	moz-transition: opacity .3s;
	o-transition: opacity .3s;
	transition: opacity .3s;
}
#artistList .exampleArt .exampleImages:last-child{margin-right: 0;}
#artistList .exampleArt .exampleImages:hover{opacity: .6;}










/* STUFF TO ADD */
/* seperate line */
.line{background-color: #ccc;width: 100%;height: 1px;margin: 40px 0;}

.front-image-like{
	opacity: 1 !important;
	color: #FF6347;
}

.front-image-comment{
	opacity: 1 !important;
	color: #FF6347;
}

.front-image-share{
	opacity: 1 !important;
	color: #FF6347;
}


.arrow-right{
	width: 0px;
	height: 0px;
	content: '';
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
	position: absolute;
	left: 230px;
	top: 400px;
}

.loading{
	width: 100%;
	height: 100%;
}

.loading:before{
	position: absolute;
	content: '';
	background-image: url('../imgs/dots.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}