/* Main colors: red #E63244 ; light red #DBC8C8
green, DBC8C8 yellow, eee grey */
*{font-family: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}
html{font-size: 16px;}
body{
	margin: 0;
	padding: 0;
	font-family: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: normal;
	background-color: #eee;
 	box-sizing: border-box;
}
li{text-decoration: none;list-style-type: none;}
a{text-decoration: none;color: #323232;}
h1{font-size:1.3rem; margin: 20px 0px;}
h3{font-size:1.3rem; margin: 20px 0px;}
h4{font-size:1rem; margin: 20px 0px;}
p{font-size: 1rem;}
#map-canvas{width:100%;height:600px;}
 sdg
.loading{
	z-index: 99999;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #eee;

	opacity: 0;
	pointer-events: none;
	visibility: hidden;;

	transform: scale(1.15);

	transition:
		transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

	will-change: transform, opacity;
}

.loading-animation{
	display: inline-block;;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 0px solid transparent;
	background-color: #e63244
	margin-bottom: 20px;
	background-image: linear-gradient(90deg, transparent 75%, #e63244 25%), linear-gradient(45deg, transparent 50%, #DBC8C8 50%),
										linear-gradient(180deg, transparent 50%, #345 50%), linear-gradient(270deg, transparent 50%, #999 50%);
	-webkit-animation: spin 2s ease-in-out infinite;
	-moz-animation: spin 2s ease-in-out infinite;
	-ms-animation: spin 2s ease-in-out infinite;
	-o-animation: spin 2s ease-in-out infinite;
	-webkit-animation: spin 2s ease-in-out infinite;

}

@-webkit-keyframes spin {
  100% {  transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% {  transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% {  transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }

.visible{
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
}

#loading-wrapper{
	position: absolute;
	top: 45%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 190px;
	height: auto;
	text-align: center;
}

/* BUTTON */
.image-button{
	z-index: 9;
	position: absolute;
	bottom: 100px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 100%;
	background-color: transparent;
	border: 2px solid #E63244;
	color: #eee;
	opacity: .9;
}

.image-button i{
	position: absolute;
	top: 20%;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	font-size: 3rem;
}
.image-button span{
	display: inline-block;
	position: absolute;
	bottom: 25%;
	right: 0px;
	left: 0px;
	margin: 0 auto;
}
.circle-image-button{
	position: absolute;
	bottom: 107px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	width: 140px;
	height: 140px;
	text-align: center;
	border-radius: 100%;
	color: #eee;
	opacity: .9;
	transition: opacity .3s cubic-bezier(.74,.19,.69,.85), box-shadow .3s cubic-bezier(.74,.19,.69,.85);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-button:hover + .circle-image-button{
	opacity: 0.8;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	padding-right: 50px;
	box-sizing: border-box;
}

#inner-wrapper{
	position: relative;
	width: 100%;
}

/* OPEN MENU */
.toggle-menu{
	z-index: 99999;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 1.3rem;
	cursor: pointer;
	background-color: #E63244;
	color: #eee;

	transition: height .5s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .5s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .5s cubic-bezier(.74,.19,.69,.85);
}

.toggle-menu:focus,
.toggle-menu:active{
	box-shadow:inset 0 6px 12px 10px #CF2f3f;
}

.open-menu{
	height: 50px;
	border-radius: 100%;
	top: 20px;
	right: 50px;
	line-height: 50px;

	transition: height .3s cubic-bezier(.74,.19,.69,.85),
		border-radius .3s cubic-bezier(.74,.19,.69,.85),
		top .3s cubic-bezier(.74,.19,.69,.85),
		right .3s cubic-bezier(.74,.19,.69,.85),
		line-height .3s cubic-bezier(.74,.19,.69,.85);
}

/* HEADER */
.menu{
	z-index: 999;
	position: fixed;
	top: 0px;
	right: -150px;

	width: 200px;
	height: 100%;
	background-color: #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	transition: right .3s cubic-bezier(.74,.19,.69,.85);
}

.blue-side{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 50px;
	height: 100%;

	background-color: #DBC8C8;

	transition: background-color .3s cubic-bezier(.74,.19,.69,.85);
}

.filled-blue{
	background-color: #E63244;
}

.menu-visible{
	right: 0px;
}

.menu ul{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	padding-top: 90px;
}

.menu ul li{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}


.menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	display: flex;
}

.menu ul li a:hover > .menu-text{color: #E63244;will-change:color;}
.menu ul li a:hover > .menu-icons{color: #eee;background-color: #E63244;will-change:color, background-color;}

.menu ul li a:active,
.menu ul li a:focus{
}

.menu .menu-icons{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #DBC8C8;
	color: #323232;
	font-size: 1.3rem;

	transition: background-color .3s cubic-bezier(.74,.19,.69,.85), .3s cubic-bezier(.74,.19,.69,.85);
}

.menu .menu-icons:hover{
	background-color: #E63244;
}

.menu .menu-text{
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;

	transition: color .2s cubic-bezier(.74,.19,.69,.85);
}
.menu .no-border{border-color: #eee;}

.menu ul li .already-scrolled{
	background-color: #E63244;
}

.show-socials{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
}

.show-socials .menu-icons{
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.show-socials .menu-icons:hover{
	color: #eee;
}

.arrow-left{
	width: 0px;
	height: 0px;
	content: '';
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid #E63244;
	position: absolute;
	right: -13px;
	top: 17px;
}

.header-social{
	visibility: hidden;
	opacity: 0;
	z-index: -999;
	position: absolute;
	top: 0px;
	left: -135px;
	width: 120px;
	height: 50px;
	background-color: #eee;
	border-radius: 3px;
	border-right: 4px solid #E63244;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: opacity .3s cubic-bezier(.74,.19,.69,.85);
}

.header-social .header-social-icons{
	display: inline-block;
	width: 30px;
	height: 50px;

	transition: color .2s cubic-bezier(.74,.19,.69,.85);
}

.header-social .header-social-icons:hover{
	color: #E63244;
}

.social-visible{
	display: block;
	visibility: visible;
	opacity: 1;
}

.show-socials .fill-social{
	background-color: #E63244;
}

.show-socials .focus-social{
	background-color: #E63244;
}

/* CONTENT */
.section{
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
}

.big-content{
	position: relative;
	width: 66.666666%;
	height: 100%;

	background-color: transparent;
	overflow: hidden;

	background-position: center;
	background-repeat: no-repeat;
}

.small-content{
	position: relative;
	width: 33.333333%;
	height: 100%;
	background-color: #eee;
	color: #323232;
}

.content-right .inner-content{text-align: left;}

.content-left .inner-content{text-align: right;}

#slide1 .big-content{
	position: relative;
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/fullBus1920x800.jpg");

		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
}

#slide1 .contact{
	color: #eee;
	border-color: #E63244;
}

#slide1 .circle-contact{background-color: #E63244;}

#slide2 .big-content{
	border-bottom-left-radius: 3px;
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/insideCar1920x800.jpg");

		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
}

.infos{
	width: 100%;
	height: 80px;
}
#slide6{
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
#slide6 .infos{height: 120px;}

.info-headline{
	width: auto;
	height: 80px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	margin-right: 7px;
	line-height: 40px;
}
.info-headline h4{margin: 0px;}
.info-text{
	width: auto;
	height: 80px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	line-height: 40px;
}
.info-text p{margin: 0px;}

#slide2 .location{
	color: #323232;
	border-color: #eee;
}

#slide2 .circle-location{background-color: #eee;}

#education{background-color: #eee;}
.wrapper-education{
	width: 100%;height: 100%;position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.education-content{
	margin: 0 auto;
	width: 100%;
	height: 300px;
	display: flex;
}

.education-single{
	position: relative;
	width: 33.333333%;
	height: 100%;
	display: flex;
	border-right: 2px solid #ddd;
	justify-content: center;
	align-items: center;
}

.single-education-content{
	padding: 0 20px;
	display: block;
	height: auto;
	overflow: hidden;
	margin: auto;
}

.single-education-content p{margin: 0; padding: 0;}
.single-education-content h4, .single-education-content h3, .single-education-content p{
	margin-top: 0px;
	padding-top: 0px;
	color: #323232
}

.education-single:last-child{
	border-right: 0;
}

#slide3 .big-content{
	border-top-right-radius: 3px;
	background-image: linear-gradient(
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2)
    ), url("../imgs/gallery/unterricht2-1920x1280.jpg");

		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
}
#slide4{height: auto;position: relative;}
#slide4 .big-content{
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/mountainStreet1920x800.jpg");

		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
}
#slide5{height: 600px;}

.map-switch-wrapper{
	position: absolute;
	bottom: 180px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	width: 300px;
	height: 60px;
	background-color: transparent;
	border-radius: 3px;
}

.map-switcher{
	float: left;
	width: 145px;
	height: 50px;
	background-color: #eee;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;

	transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
}
.map-switcher:first-child{margin-right: 10px;}
.map-switcher:active,.map-switcher:hover,.map-switcher:focus,
.link-to-maps:active,.link-to-maps:hover,.link-to-maps:focus{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.map-switcher .map-switcher-icon{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.3rem;
	background-color: #eee;
	color: #323232;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	transition: background-color .2s cubic-bezier(.74,.19,.69,.85);
}

.map-switcher .map-switcher-text{
	width: 95px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #eee;
	text-align: left;
	box-sizing: border-box;
	border-radius: 3px;

	transition: padding-left .2s cubic-bezier(.74,.19,.69,.85);
}

.active .map-switcher-icon{background-color: #E63244;}
#wildberg.active .map-switcher-text{padding-left: 15px;}
#neubulach.active .map-switcher-text{padding-left: 10px;}

.link-to-maps{
	z-index: 9999;
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -40px;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #eee;
	text-align: center;
	line-height: 40px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: box-shadow .2s cubic-bezier(.74,.19,.69,.85);
}

.link-to-maps a{
	display: block;
	width: 100%;
	color: #323232;
	height: 100%;
	font-size: .9rem;
}

.map-touch{
	display: block;
	visibility: hidden;
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #323232;
	opacity: 0;
	cursor: pointer;

	transition: visibility .2s cubic-bezier(.74,.19,.69,.85), opacity .2s cubic-bezier(.74,.19,.69,.85);
}


.block-map{
	opacity: .2;
	visibility: visible;

	transition: visibility .2s cubic-bezier(.74,.19,.69,.85), opacity .2s cubic-bezier(.74,.19,.69,.85);
}

.lock-map{
	z-index: 9999;
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	line-height: 40px;
	text-align: center;
	background-color: #E63244;
	color: #eee;
	cursor: pointer;

	transition: opacity .2s cubic-bezier(.74,.19,.69,.85);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.lock-map:hover{
	opacity: .8;
}
.lock-map:focus, .lock-map:active{
		opacity: .8;
}

#slide6 .big-content{
	background-image: linear-gradient(
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1)
    ), url("../imgs/gallery/eingang1920x1280.jpg");

		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
}

.inner-content{
	display: inline-block;
	min-height: 100px;
	overflow: hidden;
 	position: relative;
	top: 45%;
	transform: translateY(-50%);
	text-align: center;
}

.h1-colored{
	color: #E63244;
	font-size: 2.5rem;
}

/* OWL GALLERY */
#owl, #owl .owl-stage{
	width:100%;
	height: 800px;
	position: relative;
}
.education-content .owl-stage{
	width: 100%;
	height: 600px;
	position: relative;
}
#owl .item{
	display: block;
	width: 100%;
	height: 800px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#owl .owl-controls, #education .owl-controls{
	z-index: 999999999999999999999999;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	height: 50px;
}
#owl .owl-nav, #education .owl-nav{visibility: hidden;}
#owl .owl-dots, #education .owl-dots{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background: transparent;
}
#owl .owl-dot, #education .owl-dot{
	width: 15px;
	height: 100%;
	text-align: center;
	line-height: 50px;
	margin-left: 5px;
}
#owl .owl-dot:first-child, #education .owl-dot:first-child{margin-left: 0px;}
#owl .owl-dot span, #education .owl-dot span{
	display: inline-block;;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #DBC8C8;
	opacity: .7;

	transition: background-color .2s, opacity .2s;
}
#owl .active span, #education .active span{background-color: #e63244; opacity: .5}

#slide4 .owl-nav-btn{
	z-index: 99999;
	position: absolute;
	top: 0px;
	width: 150px;
	height: 100%;
	opacity: .0;
	cursor: pointer;

	transition: .3s opacity;
}
#slide4 .owl-nav-btn:hover{
	opacity: .4;
}
#slide4 .owl-nav-prev{left: 0px;background-image: linear-gradient(to left, transparent 0%, #323232 100%);}
#slide4 .owl-nav-next{right: 0px;background-image: linear-gradient(to right, transparent 0%, #323232 100%);}

/* OWL OFFER */
.owl-edu-hidden{
	display: none;
	opacity: 0;
	visibility: hidden;
}

footer{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #323232;
	color: #eee;
	font-weight: normal;
	box-sizing: border-box;
}

footer h4{margin: 0px;display: inline-block;}

#footer-wrapper{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	padding: 70px 0px;
}

#footer-logo{
	width: 100%;
	height: 100px;
}

#footer-logo .logo img{
	width: 80%;
	float: left;
}


#footer-logo .logo{
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	background-color: transparent;
	color: #323232;
	float: left;
	margin-top: 20px;
	margin-right: 3%;
}

#footer-contact{
	width: 60%;
	height: 100px;

	margin: 0 auto;
	margin-bottom: 50px;

	display: flex;
}

#footer-contact p, #footer-contact a{
	margin: 0;
	padding: 0;
	width: 150px;
	height: 35px;
	line-height: 35px;
	display: block;
	color: #eee;
}
#contact-cont p, #social-cont p{
	color: #E63244;
	font-size: 1rem;
}
#contact-cont a, #social-cont a{
	font-size: .9rem;
}
#contact-cont, #social-cont{
	width: 50%;
	height: 100%;
}

#social-cont #social-media{
	width: 100%;
	height: 35px;
}

#social-cont #social-media .social-btn{
	display: inline-block;
	width: 35px;
	height: 35px;

	transition: color .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

#social-cont #social-media .social-btn:hover{
	color: #E63244;
}


#mention{
	width: 60%;
	font-size: 0.7rem;

	margin: 0 auto;
}
#mention a{
	color: #eee;
}


.inner-content .logo{
	width: 80%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: transparent;
}

.fade-in-content{opacity: 1;}

.margin-right{margin-right: 12%;float: right;padding-left: 12%;}
.margin-left{margin-left: 12%;float: left;padding-right: 12%;}
.middle-content{
	margin: 0 auto;
	display: block;
}
.mobile-only{
	position: absolute;
	bottom: 0px;
	left: 0px;
	visibility: hidden;
	opacity: 0;
	overflow: visible;
	width: 1px;
	height: 50px;
	height: 1px;
	background-color: transparent;
	color: transparent;
}
