@media (max-width: 1420px){
	#slide3 .big-content,
	#slide6 .big-content{
			background-size: auto 100%;
	}
}
@media (max-width: 1300px){
	.margin-right{margin-right: 9%;float: right;padding-left: 9%;}
	.margin-left{margin-left: 9%;float: left;padding-right: 9%;}

	#owl{height: 600px;}
	.owl-wrapper-outer{height: 600px;}
	.owl-wrapper{height: 600px;}
	.owl-item{height: 600px;}
	.owl-item img{height: 600px;}
	#owl, #owl .owl-stage, #owl .item{height: 600px;}
}



@media (max-width: 1250px){
	.big-content{width: 60%;}
	.small-content{width: 40%;}
	.margin-right{margin-right: 9%;float: right;padding-left: 9%;}
	.margin-left{margin-left: 9%;float: left;padding-right: 9%;}
	.education-single:nth-child(even){width:33.3333%;}
	.education-single:nth-child(odd){width:33.3333%;}
}

@media (max-width: 1100px){
		.big-content{width: 50%;}
		.small-content{width: 50%;}
}

@media screen and (max-width: 1000px){
	.h1-colored{font-size: 2rem;}
	.menu{display: none;}
	#wrapper{padding: 0;}
	.inner-content .logo{
		margin: 0 auto;
	}
	.inner-content{
		display: block;
		color: #323232;
		min-height: 100px;
		overflow: hidden;
		margin: 0 auto;
	 	position: relative;
		top: 45%;
		transform: translateY(-45%);
		text-align: center;
	}
	.margin-right{margin: 0 auto; clear: both;float: none;padding: 0px;}
	.margin-left{margin: 0 auto; clear: both;float: none;padding: 0px;}
	.section{display: block;}
	.image-button{display: none;cursor: pointer;}
	.circle-image-button{display: none;cursor: pointer;}
	.big-content{width: 100%;background-color: rgba(0,0,0,.9)}
	#slide1 .small-content,
	#slide2 .small-content,
	#slide3 .small-content,
	#slide4 .small-content,
	#slide6 .small-content{
		box-sizing: border-box;
		z-index: 999;
		position: absolute;
		width: 100%;
		left: 0px;
		right: 0px;
		margin: 0 auto;
		top: 0px;
		background-color: transparent;
	}
	#slide2 h3, #slide2 h4, #slide2 p, #slide6 h3, #slide6 h4, #slide6 p{
		color: #eee;
	}
	#slide3 h3, #slide3 h4, #slide3 p{
		color: #323232;
	}

	#slide1 .small-content{background-color: #eee;padding: 0 10%;}
	.content-right .inner-content,
	.content-left .inner-content{text-align: center;}
	.mobile-only{
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 80px;
		visibility: visible;
		opacity: 1;
		overflow: hidden;
		line-height: 60px;
		text-align: center;
		font-size: 2.5rem;
	}

	.small-content .arrow-one{
		animation-name: moving-arrow-one;
		animation-duration: 3s;
		animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
    animation-play-state: running;
	}
	.small-content .arrow-two{
		animation-name: moving-arrow-two;
		animation-duration: 3s;
		animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
    animation-play-state: running;
	}

	.mobile-only a{
		display: block;
		width: 15%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
		transition: opacity .3s;
	}
	.mobile-only a:hover{
		opacity: .8;
	}

	@keyframes moving-arrow-one{
		0%{
			transform: translate3d(0px, 1px, 0px);
			opacity: .3;
			color: #323232;
		}
		60%{
				transform: translate3d(0px, 25px, 0px);
				opacity: .7;
				color: #E63244;
		}
		100%{
				transform: translate3d(0px, 1px, 0px);
				opacity: .3;
				color: #323232;
		}
	}
	@keyframes moving-arrow-two{
		0%{
			transform: translate3d(0px, 10px, 0px);
			opacity: .3;
			color: #323232;
		}
		60%{
				transform: translate3d(0px, 18px, 0px);
				opacity: .6;
				color: #E63244;
		}
		100%{
				transform: translate3d(0px, 10px, 0px);
				opacity: .3;
				color: #323232;
		}
	}

	#slide2 .big-content{
		background-image: linear-gradient(
				rgba(0, 0, 0, .3),
				rgba(0, 0, 0, .3)
			), url("../imgs/emptyBus1080x720.jpg");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
	}

	#slide3 .big-content{
		background-image: none;
		background-color: #E63244;
	}
	#slide3 .small-content{
		box-sizing: border-box;
		padding: 0px 15%;
		font-weight: normal;
	}


	#slide4 .big-content{
		background-image: linear-gradient(
				rgba(0, 0, 0, .3),
				rgba(0, 0, 0, .3)
			), url("../imgs/emptyBus1080x720.jpg");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
	}
	#owl, #owl .owl-stage, #owl .item{height: 600px;}


	#slide5{height: 600px;}

	#slide5 .small-content{
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0 auto;
		width: 100%;
		height: 80px;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#slide5, #slide5 .big-content, #map-canvas{
		height: 550px;
	}

	.map-switch-wrapper{
		position: absolute;
		bottom: 20px;
		right: 0px;
		left: 0px;
		margin: 0 auto;
		width: 100%;
		height: 60px;
		background-color: transparent;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.map-switcher .map-switcher-text{font-size: .9rem}

	.link-to-maps{
		bottom: 60px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.block-map{
		opacity: .4;
	}
	.lock-map{
		width: 50px;
		height: 50px;
		line-height: 50px;

		transition: width .2s, height .2s, line-height .2s, opacity .2s;

		will-change: position, transform;
	}
	.lock-map-fixed{
		position: fixed;
		top: 15px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		opacity: 1;
	}
	.lock-map-absolute{
		position: absolute;
		bottom: 15px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		opacity: 1;
	}

	#slide5 .inner-content{display: none;}
	#slide5 .big-content{
		position: relative;
	}

	#slide6 .big-content{
		background-image: linear-gradient(
				rgba(0, 0, 0, .3),
				rgba(0, 0, 0, .3)
			), url("../imgs/emptyBus1080x720.jpg");
	}

	#education{
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.education-content{
		height: 100%;
		top: 0px;
	}
	.education-single{
		position: relative;
		width: 300px;
		margin: 0 auto;
		height: 400px;
		border: none;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
	}

	.single-education-content h4{
		padding-top: 0px;
		margin-top: 0px;
	}
	.info-text{text-align: left;}

	#education .owl-item{height: 400px;}
	#education .owl-item img{height: 400px;}

}

@media screen and (min-width: 925px) and (max-width: 1000px){
	#slide2 .big-content, #slide6 .big-content{
				background-size: 100%;
	}
}

@media screen and (min-width: 780px) and (max-width: 925px){
	#owl .item{
			background-size: auto 100%;
	}
}

@media screen and (max-width: 780px){
	#education{
	display: flex;
	justify-content: center;
	align-items: center;
}
.education-content{
	width: 100%;
}
.education-single{
	display: block;
	width: 100%;
	margin: 0 auto;
}
	#slider4{height: 400px;}
	#owl, #owl .owl-stage, #owl .item, #owl .owl-stage-outer {
		width: 100%;
		height: 400px;
	}
	#slide5 .map-switcher-text{}
}

@media screen and (max-width: 600px){
	#owl .item{
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
	}

	#footer-contact{
		display: block;
		height: 140px;
		margin-bottom: 30px;
	}
	#footer-contact div{height: 50%;}
}

@media screen and (max-width: 420px){

	#footer-logo h4{
		font-size: .8rem;
	}
	#social-cont #social-media .social-btn{
		width: 30px;
		height: 30px;
	}
}
